*{
    font-family: "Segoe UI";

}
.selectionPane{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

form{
    border-style: dashed;
    border-color: darkslategray;
    width: 90%;
    alignment: center;
}
.labels-div{
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: space-evenly;
}
.labels-div>*{
    flex:1;

}

#year-grade-div{
    border-style: dashed;


}
#yg-form{
    width: 40%;
    margin-left: 1em;
    flex-direction: row;


}
#year-grade-div > label{
    margin: 0.5em;
}
.button-label{
    background-color: darkcyan;
    color: white;
    border-color: darkcyan;
    border-radius: 5px;
}
#copySetUp{
    height: 3em;
    margin-bottom: 1em;
    width: 30%;
}
#submit{
    width: 150px;
    height: 30px;
    font-size: 1em;
}
h3{
    color: darkslategray;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: underline;

}
table {
    /*margin-top: 1em;*/
    width: 90%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-top: 0.5rem;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;

}
#td-sectionName{
    cursor: pointer;

}
#td-sectionName:hover{
    font-size: 20px;
    font-weight: bold;
}

#tr-class{
    cursor: pointer;
}

#tr-class:hover{
    font-size: 1.1rem;
    font-weight: bold;
}
/*tr:hover {background-color: darkcyan}*/
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkslategray;
    color: white;
}
td>i{
    margin: 10px;
}
i{
    color: darkslategray;
    cursor: pointer;
}
#yg-form{
    margin-top: 1em;
    border-style: none;
}
@media (max-width: 600px){
    .labels-div>*{
        margin-bottom: 1em;

    }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1; !* Sit on top *!*/
    /*padding-top: 100px; !* Location of the box *!*/
    left: 50%;
    top: 70%;
    bottom: 20%;
    width: 70%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: whitesmoke; /* Fallback color */
    border-style: solid;
    border-color: darkslategray;
    transform: translate(-50%,-50%);
    /*background-color: snow; !* Black w/ opacity *!*/
}

/* Modal Content */
.modal-content {
    display: grid;
    grid-template-columns: 1fr 3fr 0.05fr;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
}
#options-div{
    width: 100%;
}
.option-div{
    background-color: darkcyan;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    height: 2em;
    width: 100%;
    padding-top: 1em;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}
.option-div>p{
    background-color: darkcyan;
    color: white;
}
.option-div:hover{
    font-size: 18px;
    text-decoration-line: underline ;
    font-weight: bolder;
}
#show-content{
    width: 100%;
}
#section-div{
   width: 100%;
   height: 70%;
    padding-top: 2.2em;
}
#section-div>p,#section-div>p>b{
    text-align: left;
    margin-left: 2em;
    color: darkcyan;
}
#no-courses-p{
    font-size: 24px;
    background-color: darkslategray;
    color: white;
    width: 80%;
    margin-top: 2em;
}
#show-courses-table{
    height: 100%;
}
#exit-modal{
    margin-top: 0;
    cursor: pointer;
    color: darkslategray;
    /*height: 5%;*/
}