<h2>Welcome to Lab 6 WebUI </h2>
<br>
<h4>Web API Urls:</h4>
<table class="table table-striped">
    <tr>
        <td><a href="http://localhost:3000/api/programs">http://localhost:3000/api/programs</a></td>
        <td>Get CENG programs</td>
    </tr>
    <tr>
        <td><a href="http://localhost:3000/api/courses/cs">http://localhost:3000/api/courses/cs</a></td>
        <td>Get courses for cs program as a json document</td>
    </tr>
</table>