.admissions-table {
    width: 100%;
    margin: 20px 0;
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
}

.table-name {
    margin: 30px 0;
}

.admissions-table td, .admissions-table th {
    padding: 10px 0px 10px 25px;
}

.admissions-table thead tr {
    background-color: var(--secondary-color);
    color: white;
    text-align: left;
}

.admissions-table th td {
    padding: 12px 15px;
    color: #1c3fa8;
}

.admissions-table tbody tr:nth-of-type(even) {
    background-color: var(--light-color);
}

