body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: #FFFFFF;
}

h1 {
    color: #313638;
}

main {
    width: 700px;
    background-color: #313638;
    padding: 20px;
    border-radius: 10px;
    font-size: 13pt;
}

.involvedStudent {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#idBox, #gradeBox {
    width: 50px;
    margin: 10px;
}

#nameBox {
    width: 200px;
    margin: 10px;
}

.incidentDetails {
    display: flex;
    gap: 28px;
    padding: 10px;
    justify-content: space-evenly;
    text-align: center;
}

.teacherDetails {
    display: flex;
    flex-direction: column;
}

img {
    height: 100%;
    width: 100%;
}