main>form{
    width: 40%;
    height: 40%;
    /*display: flex;*/
    /*background: gray;*/
    font-size: 1.5em;
    /*background: white;*/
    border-radius: 15px;
    padding: 20px 20px 0px 20px;
}

main>form>fieldset{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px 10px 30px;
    border-radius: 15px;
    /*background: #CEA053;*/
    margin-bottom: 5px;
}

.inputL{
    flex-basis: 30%;
    margin: 10px;
}

.inputF{
    flex-basis: 50%;
    margin: 10px;
    min-height: 2em;
    border-radius: 5px;

}
.Legend{
    margin: 30px;
}

.forgetP{
    margin: 20px 10px 10px 10px;
    font-size: 1.2rem;
}
.submitBtn{
    flex-basis: 20%;
    margin: 10px auto;
    /*min-width: 8em;*/
    min-height: 2em;
    border-radius: 5px;
    font-size: 0.8em;
    align-self: flex-end;
    background: #01213C;
    color: white;
    border: none;
    cursor: pointer;
}

.Newacc{
    font-size: 01em;
    margin-left: 30px;
    margin-top: 30px;
    /*color: black;*/
    /*text-decoration: none*/
}
#principal{
    margin: 1rem auto;
    padding: 1rem;
    border: solid 2px black;
    color: black;
    border-radius: 5px;
}
